@{
    ViewBag.Title = "Application";
}

<h1>Application</h1>

<p>The Crossett Fund accepts applications on a continuous basis. Please allow four to eight weeks for application evaluation. The fund does not support ongoing program operation, direct patient care, or conference attendance.</p>

<p>
    The maximum grant award is $20,000.  Priority for awards is given to:
    <ul>
        <li>Small, low cost projects with significant potential impact;</li>
        <li>Projects with matching fund commitments from other sources; and/or</li>
        <li>Projects involving collaboration across community programs.</li>
    </ul>
</p>

<p>You can print out our <a href="crossett_application.pdf" target="_blank">application form</a> (PDF) and:</p>
<ol>
    <li>Fax it to us at (206) 987-5022.</li>
    <li>
        Mail it to:<br />
        Suzanne Petersen Tanneberg<br />
        Seattle Children’s<br />
        P.O. Box 5371   M/S RB.2.419<br />
        Seattle, WA 98145
    </li>
</ol>

<p>You can also <a href="mailto:suzanne.petersen@seattlechildrens.org">e-mail your application</a> to us. Please include the following information:</p>

<ul>
    <li>Date of application</li>
    <li>Name</li>
    <li>Organization</li>
    <li>Address</li>
    <li>Phone</li>
    <li>Fax</li>
    <li>E-mail</li>
</ul>

<h2>Important Information to Include in Your Grant Application</h2>

<ol>
    <li>
        <strong>Who are you?</strong><br />
        <p>We want to know about you and your organization. Tell us how long your organization has existed, what your mission is, how you are funded, what services you provide and to how many people. We also want to know if people on your staff have special talents related to the project.</p>
    </li>

    <li>
        <strong>What is your proposal?</strong><br />
        <p>What is your project or program? How does it work and who will staff it? How will your proposal improve the health of children in southeast Alaska? How many children will be helped and how will you decide who participates? Have you done background research? Is there information which supports the likely positive effects of your project? Does the community support your proposal</p>
    </li>

    <li>
        <strong>Financing</strong><br />
        <p>Please let us know the total cost of the proposal; whether you have other funding sources and what expenses they cover; what the funds requested from the Crossett Fund are intended to cover (including a budget); and how you intend to make this project financially self-sustaining if it is ongoing.</p>
    </li>

    <li>
        <strong>Evaluation</strong><br />
        <p>You will be asked to provide detailed qualitative and quantitative reports. Please tell us how you plan to evaluate the project—both in terms of impact on the community and financially—to ensure its success and to help it develop.</p>
    </li>

</ol>