@{
    ViewBag.Title = "Contact";
    
}

<h1>Contact</h1>
<p>Seattle Children’s administers the Crossett Fund. We are honored to be stewards of this fund and are always looking for new applicants. We welcome interest from all manner of Southeast child and community serving entities and encourage you to contact us.</p>
<p>Please direct all inquiries to <a href="mailto:suzanne.petersen@seattlechildrens.org">Suzanne Petersen Tanneberg</a> (206) 987-2125</p>


