@{
    ViewBag.Title = "Guidelines";
}

<h1>Guidelines</h1>
<img src="~/Content/images/sitka_breakfast.jpg" alt="marina in Sitka Alaska" class="imageRight" />
<p>Projects selected for funding will:</p>
<ul>
    <li>Improve the health of infants, children, and adolescents living in southeast Alaska; </li>
    <li>Focus on prevention and demonstrate ways in which identified health needs are met; </li>
    <li>Maximize existing resources and programs; </li>
    <li>Promote multidisciplinary, collaborative efforts; </li>
    <li>Involve the widest, most effective reach-- for instance, number of children served, geographic area, community partners, proven techniques (evidence-based); </li>
    <li>Seek the best outcome for dollars spent; </li>
    <li>Use Crossett funding as seed money and seek matching funds; </li>
    <li>Demonstrate potential for developing into self-sustaining efforts; </li>
    <li>Employ clear evaluation methods to determine results and help future projects develop and improve;</li>
    <li>Add to the knowledge base of information about how to improve the health of young people in Southeast Alaska.</li>
</ul>

@*Removing Content via BUGZID:12859
<ul>
    <li>Improve the health of infants, children, and adolescents living in southeast Alaska;</li>
    <li>Focus on prevention and demonstrate ways in which identified health needs are met;</li>
    <li>Maximize existing resources and programs;</li>
    <li>Promote multidisciplinary efforts;</li>
    <li>Employ the widest, most effective reach-- for instance, number of children served, geographic area;</li>
    <li>Seek the best outcome for dollars spent;</li>
    <li>Use Crossett funding as seed money and seek matching funds;</li>
    <li>Demonstrate potential for developing into a self-sustaining and/or expand the knowledge base of more than one Southeast Alaska provider.</li>
    <li>Have clear evaluation methods to help future projects improve and develop</li>
</ul>*@

