@{
    ViewBag.Title = "Highlights";
}

<h1>Ten Year Selected Highlights</h1>

<h2>2011</h2>
<h3>Fish to Schools Program</h3>
<p>Through the Sitka Conservation Society’s (SCS) Fish to Schools program, young people in grades three to seven, developed an increased awareness of the importance of the Tongass, since it is a critical habitat for salmon and trout populations.  The program served locally harvested fish in Sitka’s school lunches, taught students “stream to plate” curriculum and simultaneously connected with community-based fishermen. SCS sought to improve the overall health and well being of children in Sitka, Alaska, as well as educate students about the connection between their food and the surrounding natural environment.</p>

<h2>2010</h2>
<h3>Discovering Your Potential Program</h3>
<p>Through Blatchley Middle School, the principal developed a coordinated approach to the “Discovering Your Potential” program, which offered training for the children of Sitka and other southeast communities to build assets for a healthy life, particularly in compliment to their anti-bullying and “positive behavioral supports” programs.  Teachers and community members shared their passions by offering courses such as kayaking, mask-making, Native Youth Olympics, fashion design, chess, plant medicines, dance, theater, local foods, candle-making, Japanese cooking and culture, basketry, fitness, first aid and Russian language and culture. This program culminated in an evening event where students shared their skills and creations with families and the community.</p>

<h2>2009</h2>
<h3>Ketchikan Wellness Coalition Challenge Day</h3>

<p>Approximately 340 students and 90 adult volunteers participated in Challenge Day, an event to help empower students to shape their own futures and develop positive, healthy relationships with others. They learned new communications skills and help diminish social and cultural barriers by discussing them in a positive way.  The participants were able to focus on the universality of issues facing all members of their community and strength ties. </p>

<h2>2008</h2>
<h3>SEARHC Dental Carries Project</h3>

<p>Studies demonstrated that dental carries (tooth decay) is an infectious, transmittable disease and that a child’s dental health is often strongly related to the mother’s dental health. Dentists at SEARHC decided to fight the disease in the whole family by giving not only the children, but ever family member and pre-natal patient a caries risk diagnosis. Those with a high diagnosis are treated to prevent the spread to their children. They provided over a thousand fluoride varnishes and several hundred sealants to children in the high risk category, with a near perfect success rate!</p>

<h2>2007</h2>
<h3>SAIL Playground</h3>

<p>This innovative park involved children and the community in the design and construction of a community park. The process proved to lower construction costs, increase use and decrease vandalism. The playground stimulates both active and imaginative play in diverse settings reflecting the natural environment.  In an area with limited playground availability this playground provides kids with the opportunity to exercise and strengthen body and mind.</p>


<h2>2006</h2>
<h3>Sitka Fine Arts Camp</h3>

<p>411 Students from 12 states, 3 countries and 30 Alaska communities, representing eight Alaskan ethnic groups, attended. Students made significant gains in arts knowledge and skills and demonstrated the highest artistic level of any camp in previous years.  One student commented, “This camp matters to be, ‘because I don’t have an artistic outlet in my town so I look forward to camp to bask in the arts’”.</p>

<h2>2005</h2>
<h3>Healthy Pregnancy Project</h3>
<p>In collaboration with the Fetal Alcohol Spectrum Disorder (FASD) Advisory Council and Multidisciplinary Community Team, the Juneau Family Birth Center created a program to provide at-risk mothers with care.  The project targeted underserved young families under the age of twenty-one to provide them with free prevention services, risk assessment and personal education and counseling that would cover topics such as avoiding pre-term labor, smoking cessation, preventable birth defects and the importance of STI screenings.</p>

<h2>2004</h2>
<h3>SouthEast Alaska Regional Health Consortium: Sitka Youth First Responders</h3>

<p>The Sitka Youth First Responders teen rescue squad has formed and has 13 youth members trained in emergency response. The team meets weekly and many  members have already expressed an interest in health careers. Sitka Youth First Responders have helped with many local events including disaster drills, a state Emergency Medical System symposium, high school games, and local fun-runs. </p>

<p>In the fall of 2005, the First Responders assisted the local office of Alaska Public Health with planning and conducting a mass vaccine in conjunction with local hospitals, the middle school, Sitka Fire Department, and the Coast Guard. 924 people were given flu shots in a 5 hour clinic. The team is currently working with school principals and community members to provide additional assistance in a variety of settings.</p>

<h2>2003 </h2>
<h3>Community Connections: Early Learning Program </h3>
<p>
    Provided training to more than thirty Alaskan Speech Language Pathologists
    and Occupational Therapists to earn certification in oral motor assessment
    and intervention. This was the first workshop on oral motor therapy techniques
    ever held in southeast Alaska. It is estimated that 1500 children will
    benefit from this initiative in a five-year period.
</p>
<h2> </h2>
<h2>2002</h2>
<h3>Bartlett Regional Hospital: Neonatal Resuscitation Training </h3>
<p>
    Provided a nurse further education that allowed her to certify approximately
    60 additional hospital employees in neonatal resuscitation. It is projected
    that this training could improve the health outcomes of up to 40 infants
    annually. <br />
</p>

<h2>2001</h2>
<h3>Teach Your Children Well, Raven Radio and the Writer's Block</h3>
<p>
    Weekly statewide radio broadcasts about
    healthy child development, including broadcasts on immunizations, dental
    health, second hand smoke, and emotional health. This popular radio
    program has led to a parent support program, administered by Center
    for Community in Sitka.
</p>
