<h1>Purpose of The Crossett Fund</h1>
<p>The overall purpose of the Crossett Fund is to improve the health of children living in southeast Alaska. The Fund aims to strengthen existing southeast child health resources and to provide seed funding for new projects/programs. The Fund provides seed money for new projects, and funds prevention, education and health promotion.</p>

<p class="alertSection">Crossett has received many excellent and worthy proposals that we have funded in succession over the last six months or so (the good news), and so we need to let the operating account build back up with earnings from the endowment before making new awards (the not as good news). Based on the typical rate of return to the operating fund, we will be able to consider proposals again starting in July for funding in August.</p>

<p>Emergency pediatric medicine, early childhood programs, injury prevention, and positive parenting are just a few of the ways the Crossett Fund has touched Southeast children and families.</p>

<h3>History</h3>
<img src="~/Content/crossett.jpg" alt="Reuben E. Crossett" class="imageRight" />
<p>Many years ago, Reuben E. Crossett owned and operated the Pioneer Bar in Ketchikan Alaska.  Rube was deeply committed to the community and he supported young people in a variety of ways.</p>

<p>Rube held an annual fundraiser/ruckus night with the men of Ketchikan.  They ate wild game and drank, until they donated lots of money and invariably accidently broke the front window of the bar.  The money raised helped people in need with rent, food, and health care.</p>

<p>In 1985, Rube died, leaving a large portion of his estate in trust to Seattle Children's Hospital for the health and well-being of the children of Southeast Alaska. Thus, in 1988, the Reuben E. Crossett Endowed Alaskan Fund was activated. Today we try to carry on Rube’s legacy, supporting community projects aimed to improve the health and lives of SE Alaskan children.</p>