@{
    ViewBag.Title = "Projects";
}

    <h1>Projects</h1>
    <p><a href="#l2015">2015</a> | <a href="#l2014">2014</a> | <a href="#l2013">2013</a> | <a href="#l2012">2012</a> | <a href="#l2011">2011</a> | <a href="#l2010">2010</a> | <a href="#l2009">2009</a> | <a href="#l2008">2008</a> | <a href="#l2007">2007</a> | <a href="#l2006">2006</a> | <a href="#l2005">2005</a> | <a href="#l2004">2004</a> | <a href="#l2003">2003</a> | <a href="#l2002">2002</a> | <a href="#l2001">2001</a> | <a href="#l2000">2000</a> | <a href="#l1999">1999</a> | <a href="#l1998">1998</a> | <a href="#l1997">1997</a> | <a href="#l1996">1996</a> | <a href="#l1995">1995</a> | <a href="#l1994">1994</a> | <a href="#l1993">1993</a> | <a href="#l1992">1992</a> | <a href="#l1991">1991</a> | <a href="#l1990">1990</a> | <a href="#l1989">1989</a> </p>

    <div class="imageRight" style="width:300px;">
        <img src="/content/images/youth_leadership_group.jpg" alt="Central Council Tlingit and Haida Indian Tribes of Alaska: Youth Leadership Conference" class="picture" /><br />
        Central Council Tlingit &amp; Haida Indian Tribes of Alaska: Youth Leadership Conference<br /><br />
        <img src="/content/images/2005_team.jpg" alt="Sitka Youth First Responders, teen EMT rescue squad" class="picture" /><br />
        Sitka Youth First Responders, teen EMT rescue squad
    </div>

    <h3 id="l2016">2016</h3>
    <ul>
        <li>Ketchikan Youth Initiatives – capacity building</li>
        <li>Island Institute – Mt. Edgecumbe media project, “Our Alaskan Stories”</li>
        <li>National Council on Alcoholism and Drug Dependence Juneau Affiliate and Mission Man Media – multimedia youth education program</li>
        <li>Association of Alaska School Boards – implementation of culturally responsive social and emotional learning</li>
        <li>Southeast Alaska Independent Living (SAIL) – Sitka Community Playground Project</li>
        <li>Craig Public Library – Early Literacy Center STEM Backpack Program</li>
        <li>Sitka Fine Arts Camp – Navi-Trac frame tent</li>
        <li>Petersburg Children’s Center – facility expansion</li>
        <li>Baranof Barracuda Swim Club – scholarship program</li>
        <li>Betty Eliason Child Care Center – outdoor play area updates</li>
        <li>Coffman Cove Library – development of early literacy center</li>
        <li>Glacier Swim Club – installation of dry land gym equipment</li>
        <li>Chilkat Valley Preschool – construction of updated facility</li>
        <li>American Heart Association Alaska Division – CPR Anytime Infant CPR and Choking Relief kits</li>
        <li>Saxman Boys & Girls Club – start-up</li>
    </ul>

    <h3 id="l2015">2015</h3>
    <ul>
        <li>Youth Advocates of Sitka – Youth-run smoothie truck business </li>
        <li>Team Wrangell – AAU Girls Basketball </li>
        <li>Ketchikan Area Arts and Humanities Council – Teaching Artist Academy </li>
        <li>Brave Heart Volunteers – Community Dialogues and Bereaved Foster Children Program </li>
        <li>Blatchley Middle School – Art Club</li>
        <li>Shirly Jackson Community Library – Early Literacy Program</li>
        <li>Hydaburg City School District – gardening project and facilities updates </li>
        <li>Bartlett Regional Hospital – Baby Boxes project </li>
    </ul>

    <h3 id="l2014">2014</h3>
    <ul>
        <li>Kake Tribal Heritage Foundation – Community Clean-up Project</li>
        <li>Hames Center – divider wall and spring floor for community center</li>
        <li>Sitka Skippers – Jump Rope Team supplies</li>
        <li>Bartlett Regional Hospital – Baby Friendly hospital status and lactation room </li>
        <li>Catholic Community Service – Juneau Afterschool Coalition </li>
        <li>Communities in Schools of Juneau – Juneau Trauma Intervention Program </li>
        <li>Love in Action – Quality of Life Scholarship</li>
        <li>Coffman Cove Community Library – Reach For The Sky Program </li>
        <li>Community Connections, Inc. – SPARK Communication Program</li>
        <li>Juneau Youth Services – Sources of Strength Program </li>
        <li>Sitka Sound Science Center – Jr. Docent Program </li>
        <li>Craig Waverunners – swim team equipment </li>
        <li> Island Institute of Alaska – Sitka Story Lab </li>
        <li>Baranof Barracudas Swim Club – Swim Scholarship </li>
        <li>SEARHC – Car Seats and Training</li>
    </ul>

    <h3 id="l2013">2013</h3>
    <ul>
        <li>Alaska Marine Safety Education Association (AMSEA) – Cold Water Safety and Survival Education for children and teachers</li>
        <li>Klawock PTSA – Klawock Playground Project</li>
        <li>SERRC – STEM’s and Roots Program</li>
        <li>Mt Edgecumbe Preschool – Multifunction Bus</li>
        <li>Alaska Network on Domestic Violence and Sexual Assault – COMPASS Program</li>
        <li>Haines Infant Learning Center – Hearing Screener and Accessories</li>
        <li>Greater Sitka Arts Council – Artists Registry</li>
        <li>Brave Heart Volunteers – Youth Grief and Bereavement Program</li>
        <li>Team Wrangell – Basketball team</li>


    </ul>

    <h3 id="l2012">2012</h3>
    <ul>
        <li>Klawock City School District – Breakfast Club for Klawock City School</li>
        <li>Hames Center – Children’s Climbing Wall</li>
        <li>Community Connections – Start up Infant/Parent Group “Tukaneiyi Time”</li>
        <li>Sitka Sound Science Center – Black and White project</li>
        <li>Chilkat Valley Preschool – Parenting Support Project</li>
        <li>Taylor White Foundation – Teen Driving School</li>
        <li>Ketchikan Youth Initiatives – Youth Community Center/Shane White Skate Park</li>
    </ul>



    <h3 id="l2011">2011</h3>
    <ul>
        <li>Betty Eliason Child Care Center (BECCC) equipment upgrades</li>
        <li>SERRC, “Healthy Kids” component to after school program</li>
        <li>Sitka Community Hospital Diabetes Management Program</li>
        <li>Juneau Youth Services FASD / Sexuality Workshop</li>
        <li>Pacific High School Healthy Lunch, Healthy Life Program</li>
        <li>Catholic Community Service, Inc. Juneau Afterschool Program</li>
        <li>Sitka Conservation Society Local Fish to Local Schools Program</li>
        <li>Sitka Science Center Making Waves Science Camp</li>
        <li>Catholic Community Services Juneau After School program</li>
        <li>Ketchikan Wellness Coalition Challenge Day</li>
        <li>SE Alaska Independent Living (SAIL) Playground Accessibility Project</li>
        <li>Sitka Arts Council Youth State of the Arts Summit Meeting</li>
        <li>Sitka Boy Scouts Soccer Field Spectator Shelter Project</li>
        <li>Sitka Health Summit 2011 Health Summit</li>

    </ul>

    <h3 id="l2010">2010</h3>
    <ul>
        <li>Bartlett Regional Medical Center neonatal resuscitation program</li>
        <li>Blatchley Middle School "Discovering Your Potential" Program</li>
        <li>Alaska Staff Development Program The JUMPP project</li>
        <li>United Way of Southeast Alaska Juneau afterschool program</li>
        <li>Pelican School District career fair and job shadowing</li>
        <li>REACH, Inc. hearing equipment for children</li>
        <li>City of Saxman Youth Capacity Building Program</li>
        <li>City of Saxman Community Center Equipment</li>
        <li>SEARHC Dental Sensors for the villages of Angoon and Kake</li>
        <li>Alaska Arts Southeast, Inc. Sitka Fine Arts Camp </li>
    </ul>
    <h3 id="l2009">2009</h3>
    <ul>
        <li>Craig Library Baby Lap Sit Program</li>
        <li>REACH Linder Training</li>
        <li>AK Network on Domestic Violence and Sexual Assault Community Empowerment Training</li>
        <li>Prince of Wales Youth Academy</li>
        <li>Big Brothers Big Sisters of Alaska 6th Grade Mentor Program</li>
        <li>Baranof Barracudas Swim Club Scholarship Seed Money</li>
        <li>Ketchikan Wellness Coalition Challenge Day</li>
        <li>Sitka Youth Soccer Equipment Shed</li>
        <li>Friends of Kettleson Library Additions on Sex and Health for Teens</li>
        <li>Juneau Youth Services Interim Funding for Valley Youth Club</li>
    </ul>

    <h3 id="l2008">2008</h3>
    <ul>
        <li>Community Connections: PATH/MAPS Training</li>
        <li>Ketchikan Youth Initiatives: Feasibility Study</li>
        <li>Organized Village of Kasaan Culture Camp</li>
        <li>SEARHC Dental Carries Project</li>
        <li>SE Island School District Mini-Camps</li>
        <li>Blatchley Middle School Beautification Project</li>
    </ul>

    <h3 id="l2007">2007</h3>
    <ul>
        <li>SEARHC Youth First Responders</li>
        <li>Petersburg Children’s Center Provider Training</li>
        <li>Sitka Fine Arts Camp</li>
        <li>City of Juneau Teen Health Center</li>
        <li>SEARHC Sitka Daycare</li>
        <li>SE Alaska Independent Living Playground</li>
        <li>Organized Village of Kasaan Culture Camp</li>
        <li>Hydaburg School District Playground</li>
        <li>COHO Telepsychiatry hardware project</li>
        <li>Tlingit and Haida Head Start Playground Project</li>
    </ul>


    <h3 id="l2006">2006</h3>
    <ul>
        <li>Sitka Fine Arts Camp</li>
        <li>Big Brothers Big Sisters Volunteer Recruitment</li>
        <li>Haines Little League Baseball Field</li>
        <li>Petersburg Children’s Center Provider Training</li>
        <li>Sitka Youth First Responders </li>
    </ul>

    <h3 id="l2005">2005</h3>
    <ul>
        <li>Youth Advocates of Sitka: Sitka Youth Court</li>
        <li>Juneau Family Birth Center: Pre-Term Labor Pilot Project</li>
        <li>Catholic Family Services/Healthy Families Juneau: Young Parents Center</li>
        <li>Organized Village of Kasaan: Unity Totem Pole</li>
        <li>Alaska Arts Southeast, Inc.: Sitka Fine Arts Camp</li>
        <li>Assn. for the Education of Young Children - SE Alaska: Blanket of Wellness</li>
        <li>Sitka Community Schools: Swim Program - Tot Docks</li>
        <li>Central Council Tlingit &amp; Haida Indian Tribes of Alaska: Youth Leadership Conference</li>
    </ul>

    <h3 id="l2004">2004</h3>
    <div class="imageRight" style="width:300px;">
        <img src="/content/images/2004_swimteam.jpg" alt="Haines Dolphin Swim Team" class="picture" /><br />
        <p>Haines Dolphin Swim Team</p>
    </div>
    <ul>
        <li>Petersburg Children's Center: Early Education Training</li>
        <li>SEARHC, Sitka: Teen EMT Rescue Squad</li>
        <li>SEARHC, Juneau: Prenatal Demonstration Program</li>
        <li>Hoonah Indian Association: Diabetes Prevention Project</li>
        <li>Alaska Staff Development Network: Juneau Effective Prevention Project (JEPP)</li>
        <li>Stone Soup Group: FASD/Positive Behavioral Support Training</li>
        <li>Haines Amateur Skateboard League: Skate Park</li>
        <li>City &amp; Borough of Sitka (PALS Skater Group): Skate Park</li>
        <li>Kake Tribal Heritage Foundation – Community Clean-up Project</li>
        <li>Hames Center – divider wall and spring floor for community center</li>
        <li>Sitka Skippers – Jump Rope Team supplies</li>
        <li>Bartlett Regional Hospital – Baby Friendly hospital status and lactation room </li>
        <li>Catholic Community Service – Juneau Afterschool Coalition </li>
        <li>Communities in Schools of Juneau – Juneau Trauma Intervention Program </li>
        <li>Love in Action – Quality of Life Scholarship</li>
        <li>Coffman Cove Community Library – Reach For The Sky Program </li>
        <li>Community Connections, Inc. – SPARK Communication Program</li>
        <li>Juneau Youth Services – Sources of Strength Program </li>
        <li>Sitka Sound Science Center – Jr. Docent Program </li>
        <li>Craig Waverunners – swim team equipment </li>
        <li>Island Institute of Alaska – Sitka Story Lab </li>
        <li>Baranof Barracudas Swim Club – Swim Scholarship </li>
        <li>SEARHC – Car Seats and Training</li>

    </ul>
    <h3 id="l2003">2003</h3>
    <ul>
        <li>
            REACH Infant Learning: Collaborative Training, Transdisciplinary Play-Based <br />
            Assessment
        </li>
        <li>Bartlett Regional Hospital: Evergreen Lactation Education Program</li>
        <li>Community Connections: Early Learning Program</li>
    </ul>
    <h3 id="l2002">2002</h3>
    <ul>
        <li>Mt. Edgecumbe Hospital: Pediatric Pain Management</li>
        <li>Bartlett Regional Hospital: Neonatal Resuscitation Instructor Training</li>
        <li>SEARHC (Mt. Edgecumbe Hospital): Child Safety Centers Project</li>
        <li>Stone Soup Group: Positive Behavioral Support Training</li>
        <li> Alaska Division of Public Health: Building Blocks</li>
    </ul>
    <h3 id="l2001">2001</h3>
    <ul>
        <li>The Writer’s Block: Teach Your Children Well</li>
        <li>Juneau Public Health Center: Child Passenger Safety</li>
        <li>PATCHworks (Revilla Island Prevention Coalition): Underage Drinking Program</li>
        <li>Tlingit and Haida Indian Tribes of Alaska: Early Learning Mental Health</li>
        <li>Catholic Community Services: Healthy Families, Juneau Dad Outreach Project</li>
        <li>Center for Community: Teach Your Children Well Parent Support Program</li>
        <li>Community Connections: Early Learning Program, Families Together Calendar</li>
    </ul>
    <h3 id="l2000">2000</h3>
    <ul>
        <li>Bartlett Regional Hospital: Pediatric Independent Study, Nursing</li>
        <li>SEREMS: Pediatric Education for Prehospital Professionals</li>
        <li>REACH: Support for Parenting Teenage Fathers</li>
        <li>REACH: Family-Focused Language Intervention</li>
        <li>Juneau Public Health Center (Juneau Safe Kids): Child Passenger Safety Trainings</li>
        <li>Gateway Center for Human Services: Child Telepsychiatry Pilot Project</li>
        <li>SEARHC, Sitka: True Colors</li>
        <li>PATCHworks: Developmental Assets Survey</li>
        <li>Association of Alaska School Boards: Developmental Assets Radio Campaign</li>
    </ul>
    <h3 id="l1999">1999</h3>
    <ul>
        <li>Veronica Dalton, Sitka: Parents as Teachers</li>
        <li>Center for Community: Supporting People with Developmental Disabilities and Delays Conference</li>
        <li>SE Regional Resource Center: Interagency Cultural Training</li>
        <li>Raven Radio: Teach Your Children Well Health Education</li>
        <li>Alaska Department of Health &amp; Social Services: SE Medicaid Expansion Enrollment</li>
    </ul>
    <h3 id="l1998">1998</h3>
    <ul>
        <li>Community Connections: Speech Stimulation Training</li>
        <li>Alaska Marine Safety Education Association: Cold Water Safety</li>
        <li>Alaska Health Fair: Injury Prevention Education</li>
        <li>Alaska Public Health: Regional Lactation Education Course</li>
        <li>REACH: Regional Conference on Challenging Behaviors</li>
        <li>Alaska School Boards: What Kids Need to Know to Succeed Books</li>
    </ul>
    <h3 id="l1997">1997</h3>
    <ul>
        <li>Ketchikan General Hospital: Pediatric Nursing</li>
        <li>SEARHC, Sitka: Pediatric Nursing</li>
        <li>Bartlett Regional Hospital: Pediatric Radiology</li>
        <li>SEREMS: Child Abuse Prevention for EMTs</li>
        <li>SEARHC, Sitka: Neonatal Resuscitation Instructor Training</li>
        <li>Stone Soup Group: CSHCN Challenging Behavior Education</li>
        <li>Wash Interactive TV: Pediatric Traumatic Brain Injury</li>
        <li>PATCH, SEARHC: Asset Building Education</li>
    </ul>
    <h3 id="l1996">1996</h3>
    <ul>
        <li>Child Abuse &amp; Neglect Prevention--Juneau, Ketchikan, Sitka</li>
        <li>Doug Diekema, MD: PALS instruction, Juneau</li>
        <li>Tlingit &amp; Haida Indian Tribes of Alaska: Head Start, Health Screening Fairs</li>
        <li>Alaska Marine Safety Education Association, Marine Safety Training Equipment</li>
        <li>Crossett Fund Special Planning Meeting, Juneau</li>
    </ul>
    <h3 id="l1995">1995</h3>
    <ul>
        <li>Colleen See, Juneau: NICU</li>
        <li>Leslie Schwartz, Petersburg: PT</li>
        <li>Breastfeeding--Juneau, Ketchikan</li>
        <li>Dieticians, CSHCN Conference, Juneau</li>
        <li>REACH: Feeding &amp; Family-Centered Care Speakers</li>
        <li>Southeast Island School District: School Health Curriculum</li>
        <li>Youth Advocates of Sitka – Youth-run smoothie truck business </li>
        <li>Team Wrangell – AAU Girls Basketball </li>
        <li>Ketchikan Area Arts and Humanities Council – Teaching Artist Academy </li>
        <li>Brave Heart Volunteers – Community Dialogues and Bereaved Foster Children Program </li>
        <li>Blatchley Middle School – Art Club</li>
        <li>Shirly Jackson Community Library – Early Literacy Program</li>
        <li>Hydaburg City School District – gardening project and facilities updates </li>
        <li>Bartlett Regional Hospital – Baby Boxes project </li>
    </ul>
    <h3 id="l1994">1994</h3>
    <ul>
        <li>SEARHC: Teen X-Press Theater, Healthy Choices</li>
        <li>Steve Curtis, Sitka: Autism</li>
        <li>Elke Coon, Ketchikan: Lactation</li>
    </ul>
    <h3 id="l1993">1993</h3>
    <ul>
        <li>Sherry Oliver, Juneau: Respiratory Therapy</li>
        <li>Kate Soltnick, Juneau: Teen Health</li>
        <li>Deena Darrell, Juneau: Teen Health</li>
        <li>Adolescent Health--Sitka, Juneau, Ketchikan, Wrangell</li>
        <li>SEREMS: Pediatric Emergencies Conference</li>
        <li>REACH Infant Learning: Education Conference</li>
        <li>Alaska Marine Safety Education Association: Marine Safety Education</li>
        <li>SEARHC: Native Health Career Video</li>
    </ul>
    <h3 id="l1992">1992</h3>
    <ul>
        <li>Pediatric Assessment--Sitka, Angoon, Ketchikan, Craig, Petersburg</li>
    </ul>
    <h3 id="l1991">1991</h3>
    <ul>
        <li>Mary Ellen Arvold, Juneau: Adolescent Health</li>
        <li>REACH Infant Learning: Training Video</li>
    </ul>
    <h3 id="l1990">1990</h3>
    <ul>
        <li>REACH Infant Learning: Multidisciplinary Team Training</li>
    </ul>
    <h3 id="l1989">1989</h3>
    <ul>
        <li>Sarina Ochoa, Juneau: Emergency Medicine</li>
        <li>Ann Farragh, Juneau: Adolescent Children with Chronic Diseases</li>
        <li>Alaska Health Fair: SE Elementary School Student Health Fairs</li>
        <li>Alaska Health Fair: Water Safety Display</li>
        <li>Sitka Teen Resource Center: Teen Parenting Education</li>
        <li>MCH: Domestic Violence Education</li>
    </ul>
    <p><a href="#content">back to top </a> </p>
